body {
	font-family: Arial;
	font-size: 10pt;
	margin: 0;
	padding: 0;
	text-align: center;
}

a {
	color: #33f;
}

.column-wrapper {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding: 1px; /* stop margins collapsing */
}

.column-content {
	margin: 20px;
	text-align: left;
}

#top-nav {
	width: 100%;
	background: #eee;
	text-align: center;
}

#top-nav a {
	margin-right: 10px;
}

#top-nav .column-content {
	margin-top: 10px;
	margin-bottom: 10px;
}

#header {
	padding: 1px;
	background: #a33;
	clear: both;
	height: 50px;
}

#header a {
	text-decoration: none;
}

#header img {
	width: 35px;
	filter: invert(1);
	display: inline-block;
	line-height: 50px;
	vertical-align: middle;
}

#header h1 {
	display: inline-block;
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 20pt;
	letter-spacing: -1px;
	color: #fff;
	margin: 0;
	line-height: 50px;
	vertical-align: middle;
}

p.velocity-report {
	margin-top: 40px;
	font-size: 12pt;
}
p.velocity-report span {
	font-weight: bold;
}
p.velocity-report .avg {
	color: #06c;
}
p.velocity-report .lower {
	color: #900;
}
p.velocity-report .upper {
	color: #090;
}

.chart {
	border: 1px solid #ccc;
	margin: 10px 0;
}

#home-intro-panel {
	padding: 10px;
	background: #eee;
}

#feedback {
	margin: 100px 0 0 0;
	padding: 25px;
	background: #eee;
}

#feedback textarea {
	width: 90%;
	height: 100px;
}

#feedback button {
	font-size: 11pt;
	border-radius: 8px;
	padding: 1px 7px 0 7px;
}

#feedback button img {
	width: 30px;
	vertical-align: middle;
}

#footer {
	background: #333;
	padding: 50px;
}

#footer span,
#footer a {
	color: #666;
	margin-right: 10px;
}

hr {
	border: 1px solid #eee;
}

.error {
	padding: 10px;
	background: #fee;
	border: 1px solid #daa;
}
.error p {
	padding: 0;
	margin: 0;
}

#promo-banner {
	text-align: center;
	background: #fff;
	padding: 10px;
}

#promo-banner div {
	display: inline-block;
	vertical-align: top;
	margin: 0 auto;
}

#promo-banner ul {
	margin-right: 20px;
}

#promo-banner li {
	text-align: left;
	font-size: 14pt;
}

#create-team-form {
	width: 80%;
	min-width: 300px;
	margin: 0 auto;
	padding: 10px;
	background: #eee;
}

#create-team-form label {
	display: inline-block;
	width: 130px;
	font-weight: bold;
	text-align: right;
}

#create-team-form input[type="text"] {
	font-size: 10pt;
	padding: 2px;
}

#create-team-form input[type="submit"] {
	display: block;
	margin: 0 auto;
	font-size: 15pt;
}


/** TABS **/
.tabs{
  overflow:hidden;
  clear:both;
 
}
.tabs ul{
  list-style-type:none;
  bottom: -1px;
  position:relative;
}
.tabs li{
  float:left;
}
 
.tabs a{
  display:block;
  padding:5px 10px;
  background-color: #EEE;
  color: #000;
  text-decoration: none;
  margin: 0 4px;
  border-top:1px solid #CCC;
  border-left:1px solid #DDD;
  border-right:1px solid #DDD;
  font:13px/18px verdana,arial,sans-serif;
  border-bottom:1px solid #CCC;
}
.tabs a.active{
  background-color: #fff;
  border-bottom:1px solid #fff;
}
.tabs div.tab {
  clear: both;
  border:1px solid #CCC;
  padding:5px;
  font-family:verdana;
  font-size:13px;
  background-color: #fff;
  display:none;
}